In [123]:
from typing import Pattern
import re
import time

In [124]:
def str_to_tup(string):
    minutes = string[:string.find(':')]
    seconds = string[string.find(':')+1:]
    return int(minutes), int(seconds)


def seconds(list_minutes, list_seconds):
    minutes = sum(list_minutes) * 60
    seconds = sum(list_seconds) + minutes
    return seconds

In [125]:
with open('text.txt', 'r') as file_handle:
    text = file_handle.read()
    print(text)

file_handle.close()

Database Basics
 PreviewLesson 2 - Oracle Database Overview & Basics of Tables       (19:42)
 StartLesson 1 - Course Overview                                     (5:54)
 PreviewLesson 3 - Setting up The SQL Development Environment        (6:33)
 PreviewIMPORTANT: Prepare the Course Data                           (3:42)
Single Table Queries
 StartLesson 4 - Retrieving Data Using SELECT Clause
 StartLesson 5 - Using the WHERE Clause In a SQL Query               (19:35)
 StartImportant Notes From Instructor                                (3:35)
 StartLesson 6 - Using Operators in the WHERE Clause                 (19:45)
 PreviewLesson 7 - Combining WHERE, AND & OR with Operators          (19:14)
 StartLesson 8 - Query Filtering Continued BETWEEN, IN and NULL      (19:58)
 StartLesson 9 - Query Filtering Conditions & Operator Precedence    (19:54)
 StartLesson 10 - Ordering, Concatenating & Aliasing Query Results   (19:58)
 StartASSIGNMENT 1: Practice with Single Table Queries
Single Row Functions (SRFs)
 StartLesson 11 - Single Row Functions (SRF) & Using The Dual Table 	 (19:36)
 StartLesson 12 - Using Functions in WHERE And Character Based SRFs (19:58)
 StartLesson 13 - Numeric and Date Data type SRFs (19:52)
 StartLesson 14 - Conversion SRFs & Date Formatting (19:37)
 StartLesson 15 - Concluding SRFs & NULL / NULLIF Functions (16:15)
 StartAssignment 2: Practice with Single Row Functions
Grouping Functions
 PreviewLesson 16 - Grouping Functions MIN, MAX, AVG, COUNT etc. (19:42)
 StartLesson 17 - GROUP BY Clause & HAVING Clause (19:57)
 StartLesson 18 - More Practice With The GROUP BY Clause (12:10)
Multi-Table Queries and Joins
 StartLesson 19 - SELECT within SELECT (Subqueries) (23:55)
 PreviewLesson 20 - Relating Tables Together Using JOINs (19:19)
 StartLesson 21 - Joins Continued INNER & OUTER Joins (21:29)
 StartLesson 22 - More Joins With Correlated Subqueries (21:13)
 StartSELF JOIN (11:10)
 StartCROSS JOIN, NATURAL JOIN and the USING CLAUSE (8:43)
 StartEQUIJOIN and NON-EQUIJOINs (9:38)
 StartLesson 23- CASE Statements (8:40)
Analytical Functions using OVER and PARTITION with ORDER BY
 StartOVER Clause with PARTITION BY (18:31)
 StartCompute Running Totals with Ordering and Partitioning (18:47)
 StartUnbounded Preceding Order in Over Clause (8:41)
 StartSliding Windows and Filtering with Analytic Functions (5:59)
 StartRank, Dense_rank, Lead, and Lag Functions (15:05)
Creating, Altering, and Updating Tables Using SQL
 StartLesson 24 - Creating Your Own Tables & Design Considerations (20:59)
 PreviewLesson 25 - Inserting Data Into Our Table (19:39)
 StartLesson 26 - Create Table With a Primary Key Constraint (21:34)
 StartLesson 27 - Using ALTER to modify the table structure (Newly Added) (16:32)
 StartLesson 28 - Create Table with SELECT + UPDATE Data (Newly Added) (19:55)
 StartLecture 29 - MERGE Statement in Oracle (16:57)
 StartPrimary And Foreign Keys
 StartLecture 30 - Sequence Statements (12:27)
 StartLesson 31 - Deleting, Dropping and Truncating (18:48)
 StartLesson 32 - Working With Database Indexes (Newly Added) (14:19)
 StartLesson 33 - System Tables, Pseudo Columns & Deleting Duplicates (Newly Added) (24:05)
 StartLecture 34 - Views and Other Objects and Commands (Newly Added) (23:33)
 StartLecture 35 - Granting and Revoking Privileges (15:08)
ADDITIONAL TOPICS + REVIEW for EXAM 170-071
 StartOFFSET and FETCH (9:55)
 StartERD Diagrams (18:34)
 StartCommit, Rollback, and Savepoint (14:36)
 StartLarge Objects and Interval Data Types (17:32)
 StartUsing Cascade Constraints and On Delete Constraints (17:56)
 StartUNUSED Columns (7:36)
 StartExternal Tables (14:59)
 StartSQL Plus and Substitution Variables (32:41)
Exam Question Walkthrough Videos
 StartQA 1- DML, DDL, and Transaction Control (24:19)
 StartQA 2- Fetch and Substitution Variables (25:13)
 StartQA 3- Conversion Functions, T0_CHAR, TO_DATE, and NVL (28:50)
APPENDIX- Installing Oracle on Windows
 StartInstalling Oracle Database 19c in Windows (9:35)
 StartInstalling Oracle SQL Developer in Windows (13:27)

In [126]:
pattern = re.compile(r'\d{1,2}.\d{1,2}')
matches = pattern.finditer(text)
count = 0

for match in matches:
    count += 1
    print(f'{count}) {match}')

1) <re.Match object; span=(88, 93), match='19:42'>
2) <re.Match object; span=(165, 169), match='5:54'>
3) <re.Match object; span=(241, 245), match='6:33'>
4) <re.Match object; span=(317, 321), match='3:42'>
5) <re.Match object; span=(487, 492), match='19:35'>
6) <re.Match object; span=(564, 568), match='3:35'>
7) <re.Match object; span=(640, 645), match='19:45'>
8) <re.Match object; span=(717, 722), match='19:14'>
9) <re.Match object; span=(794, 799), match='19:58'>
10) <re.Match object; span=(871, 876), match='19:54'>
11) <re.Match object; span=(948, 953), match='19:58'>
12) <re.Match object; span=(1109, 1114), match='19:36'>
13) <re.Match object; span=(1185, 1190), match='19:58'>
14) <re.Match object; span=(1243, 1248), match='19:52'>
15) <re.Match object; span=(1303, 1308), match='19:37'>
16) <re.Match object; span=(1371, 1376), match='16:15'>
17) <re.Match object; span=(1518, 1523), match='19:42'>
18) <re.Match object; span=(1576, 1581), match='19:57'>
19) <re.Match object; span=(1641, 1646), match='12:10'>
20) <re.Match object; span=(1731, 1736), match='23:55'>
21) <re.Match object; span=(1796, 1801), match='19:19'>
22) <re.Match object; span=(1858, 1863), match='21:29'>
23) <re.Match object; span=(1922, 1927), match='21:13'>
24) <re.Match object; span=(1946, 1951), match='11:10'>
25) <re.Match object; span=(2006, 2010), match='8:43'>
26) <re.Match object; span=(2046, 2050), match='9:38'>
27) <re.Match object; span=(2086, 2090), match='8:40'>
28) <re.Match object; span=(2189, 2194), match='18:31'>
29) <re.Match object; span=(2257, 2262), match='18:47'>
30) <re.Match object; span=(2312, 2316), match='8:41'>
31) <re.Match object; span=(2379, 2383), match='5:59'>
32) <re.Match object; span=(2434, 2439), match='15:05'>
33) <re.Match object; span=(2559, 2564), match='20:59'>
34) <re.Match object; span=(2617, 2622), match='19:39'>
35) <re.Match object; span=(2686, 2691), match='21:34'>
36) <re.Match object; span=(2768, 2773), match='16:32'>
37) <re.Match object; span=(2847, 2852), match='19:55'>
38) <re.Match object; span=(2900, 2905), match='16:57'>
39) <re.Match object; span=(2978, 2983), match='12:27'>
40) <re.Match object; span=(3038, 3043), match='18:48'>
41) <re.Match object; span=(3108, 3113), match='14:19'>
42) <re.Match object; span=(3200, 3205), match='24:05'>
43) <re.Match object; span=(3278, 3283), match='23:33'>
44) <re.Match object; span=(3338, 3343), match='15:08'>
45) <re.Match object; span=(3381, 3384), match='170'>
46) <re.Match object; span=(3385, 3388), match='071'>
47) <re.Match object; span=(3413, 3417), match='9:55'>
48) <re.Match object; span=(3439, 3444), match='18:34'>
49) <re.Match object; span=(3485, 3490), match='14:36'>
50) <re.Match object; span=(3537, 3542), match='17:32'>
51) <re.Match object; span=(3603, 3608), match='17:56'>
52) <re.Match object; span=(3632, 3636), match='7:36'>
53) <re.Match object; span=(3661, 3666), match='14:59'>
54) <re.Match object; span=(3711, 3716), match='32:41'>
55) <re.Match object; span=(3798, 3803), match='24:19'>
56) <re.Match object; span=(3851, 3856), match='25:13'>
57) <re.Match object; span=(3919, 3924), match='28:50'>
58) <re.Match object; span=(4014, 4018), match='9:35'>
59) <re.Match object; span=(4070, 4075), match='13:27'>

In [127]:
list_minutes = list()
list_seconds = list()
for item in pattern.findall(text):
    # print(str_to_tup(item))
    a, b = str_to_tup(item)
    list_minutes.append(a)
    list_seconds.append(b)

s = seconds(list_minutes,list_seconds)
time.strftime("Total time is %H Hours, %M Minutes and %S Seconds", time.gmtime(s))

'Total time is 16 Hours, 23 Minutes and 17 Seconds'